<div class="column" id="create-post">
    <h2 id="new-post-header">Write a new post</h2>
    <input type="title" class="field" id="new-post-title" placeholder="Post Title"/>
    <textarea type="text" class="field" id="new-post-content" placeholder="Type the content of your post here."></textarea>
    <button class="button" id="create-btn">Publish</button>
</div>

<div>
    {{#each posts as |post|}}
        {{> post}}
        {{else}}
        <h6>there are currently no posts, write your first one!</h6>
    {{/each}}
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="/js/newpost.js"></script>