<div class="column" id="edit-post">
    <h2 id="new-post-header">Edit your post</h2>

    <input type="title" class="field" id="edit-post-title" value="{{post.title}}"/>
    <textarea type="text" class="field" id="edit-post-content">{{post.content}}</textarea>

    <button class="button" id="update-btn">Update</button>
</div>


<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="/js/newpost.js"></script>