<div class="view">

  <div class="column" id="login">

    <h2>Existing Users</h2>

    <input type="email" class="field" id="email-login" placeholder="email@email.com"/>
    <input type="password" class="field" id="password-login" placeholder="password"/>
 
    <button class="button" id="login-btn">Login</button>

  </div>



  <div class="column" id="signup">
    
    <h2>New Users</h2>

    <input type="text" class="field" id="first-name-signup" placeholder="First Name"/>
    <input type="text" class="field" id="last-name-signup" placeholder="Last Name"/>
    <input type="email" class="field" id="email-signup" placeholder="email@email.com"/>
    <input type="password" class="field" id="password-signup" placeholder="password"/>
 
    <button class="button" id="signup-btn">Sign Up</button>
    
  </div>
    
</div>



















<!-- javascript file-->
<script src="/javascript/login.js"></script>