{{!-- first post references the partial
second post passes the "post" data from the get request through the partial --}}

{{> post post}}


    {{!-- {{#each post.comments as |comment|}} --}}
    {{#each post.comments as |comment|}}
        {{> comment}}
        {{else}}
        <div id="no-comments"><p>there are currently no comments, leave the first one!</p></div>
    {{/each}}


<div class="column" id="create-comment">
    <h2 id="new-post-header">Leave a comment:</h2>
    <textarea type="text" class="field" id="new-comment-content" placeholder="Type your comment here."></textarea>
    <button class="button" id="comment-btn">Comment</button>
</div>





<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="/js/comment.js"></script>