<div>
    <h2>dashboard</h2>
    <div>
        <p>this should be the endpoint for / when a user is logged in</p>
        <p>this should NOT show if user is not logged in</p>
        <p>should see logout button in navbar</p>
    </div>
</div>