<div>
    <h2>public homepage</h2>
    <div>
        <p>this should be the homepage endpoint that shows when a user is NOT logged in</p>
        <p>this should NOT show if user is logged in</p>
        <p>should see login button in navbar</p>
    </div>
</div>