<div class="column">
    <h2 id="new-post-header">Update or edit your post.</h2>

    <input type="title" class="field" id="update-post-title" value="{{post.title}}"/>
    <textarea type="text" class="field" id="update-post-content">{{post.content}}</textarea>

    <button class="button" id="update-btn">Update Post</button>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="/js/updatepost.js"></script>