:root {
  --turq: rgb(137, 210, 219);
  --yellow: rgba(243, 172, 80);
  --teal: rgb(32, 142, 143);
  --darkteal: rgb(24, 55, 75);
  --red: rgb(212, 0, 40);
}


/* main layout */
body {
  height: 100%;
  margin: 0;
  background-color: var(--teal)
}

.header {
  padding: 25px;
  background-color: #333;
  height:200px;
}

.navbar { /* navigation bar */
  display: flex;
  font-size: small;
  color: black;
}

.navbar a, .navbar button { /* navbar links */
  display: flex;
  color: black;
  width: 130px;
  border-radius: 10px;
  margin: 2px;
  height: 50px;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  font-size: 18px;
}

.navbar button { /* navbar logout button - reset button defaults */
  background-color: transparent;
  border: none;
  outline: none;
  box-shadow: none;

}

.navbar a:hover, .navbar button:hover { /* navbar links on hover */
  background-color: var(--yellow);
  color: white;
}


.title {
  display: flex;
  background: var(--teal);
  border-radius: 10px;
  /* top right bottom left; */
  padding: 15px 0px 15px 15px;
  color: white;
}


/* optional wrapper for body layouts */
.view {
  display: flex;
  min-width: 100%;
  max-width: 100%;
}

.view h2 {
  text-align: center;
  font-size: 1.75em;
  margin-bottom: 25px;
}


/* login/signup page */
.column {
  flex: 1;
  flex-direction: row;
  border-radius: 10px;
  margin: 50px;
  background-color: var(--yellow);
  padding: 20px;
  box-sizing: border-box; /* include padding in width calculation */
}


.field {
  border: none;
  border-radius: 7.5px;
  padding: 10px;
  width: 100%; 
  margin-bottom: 10px;
}

.button {
  background-color: var(--red);
  color: white;
  border: none;
  border-radius: 7.5px;
  padding: 10px;
  cursor: pointer;
  width: 100%; 
}


/* post styling */
.post-partial {
  display: flex;
  min-width: 100%;
  max-width: 100%;
}

.post-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* top right bottom left; */
  margin: 30px 30px 0px 30px;
}

.post-header {
  display: flex;
  /* flex-direction: column; */
  background-color: var(--darkteal);
  border-radius: 10px 10px 0 0;
}

.header-left {
  width: 75%;
}

.header-right {
  display: flex;
  flex-direction: column;
  width: 25%;
  align-items:flex-end;
  margin-right: 10px;
  justify-content: center;
}

.header-right a {
  display: flex;
  width: 90px;
  height: 30px;
  justify-content: center;
  align-items: center;
}

#update-post {
  margin-bottom: 10px;
  border-style: outset;
  border-radius: 10px;
  background-color: var(--yellow); 
  text-decoration: none;
  font-size: .9em;
  color: black;
}

#delete-post-btn {
  width: 90px;
  height: 30px;
  border-radius: 10px;
  font-size: .8em;
  background-color: var(--red); 
  color: white;
}

.post-header h2 a {
  display: inline-block;
  /* top right bottom left; */
  margin: 20px 0px 0px 20px;
  color: white;
  text-align: left;
  font-size: 1em;
}

.tagline {
  color: var(--yellow);
  /* top right bottom left; */
  margin: 5px 0px 10px 20px;
  text-align: left;
  font-size: .75em;
}

.post-body {
  background-color: white;
  color: black;
  min-height: 150px;
}

.post-body p {
  margin: 5px 0px 10px 20px;
}

.post-footer {
  display: flex;
  background-color: black;
  height: 30px;
  justify-content: flex-end;
  align-items: center;
}

.post-footer a {
  color: var(--turq);
  /* top right bottom left; */
  margin: 0 20px 0 20px;
  text-align: right;
}

#new-post-header {
  text-align: center;
}

#new-post-content {
  height: 200px; 
  text-align: top; 
}

#update-post-header {
  text-align: center;
}

#update-post-content {
  height: 200px; 
  text-align: top; 
}

#no-posts p {
  font-style: italic;
  font-size: 1.25em;
  text-align: center;
  margin-top: 20px;
}


/* comment styling */
.comment-partial {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  max-width: 100%;
}

.comment-container {
  display: flex;
  flex-direction: column;
  /* top right bottom left; */
  margin: 30px 30px 0px 30px;
  border-radius: 10px;
  /* border-width: 1px;
  border-color: black;
  border-style: solid; */
}

.comment-footer {
  border-radius: 0 0 10px 10px ;
  background-color: rgb(24, 55, 75, .5);
}

.comment-tagline {
  color: white;
  /* top right bottom left; */
  margin: 5px 0px 10px 20px;
  text-align: left;
  font-size: .75em;
  
}

.comment-body {
  border-radius: 10px 10px 0 0;
  border-bottom-style: solid;
  border-bottom-color: var(--yellow);
  background-color: var(--turq);
  color: black;
  min-height: 75px;
}

.comment-body p {
  margin: 5px 0px 10px 20px;
  font-style: italic;
  font-size: 1em;
}

#no-comments p {
  font-style: italic;
  font-size: 1.25em;
  text-align: center;
  margin-top: 20px;
}


