/* header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
} */

:root {
  --turq: rgb(137, 210, 219);
  --yellow: rgba(243, 172, 80);
  --teal: rgb(32, 142, 143);
  --darkteal: rgb(24, 55, 75);
  --red: rgb(212, 0, 40);

}

body {
  height: 100%;
  margin: 0;
}

.header {
  padding: 25px;
  background-color: #333;
  height:200px;
}

.remaining-height {
  background-color: var(--teal);
  position: absolute;
  top:200px; /* header height */
  bottom: 0;
  width: 100%;
}

.navbar { /* navigation bar */
  display: flex;
  font-size: small;
  color: black;
}

.navbar a, .navbar button { /* navbar links */
  display: flex;
  color: black;
  width: 130px;
  border-radius: 10px;
  margin: 2px;
  height: 50px;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  font-size: 18px;
}

.navbar button { /* navbar logout button - reset button defaults */
  background-color: transparent;
  border: none;
  outline: none;
  box-shadow: none;

}

.navbar a:hover, .navbar button:hover { /* navbar links on hover */
  background-color: var(--yellow);
  color: white;
}

.title {
  display: flex;
  background: var(--teal);
  border-radius: 10px;
  /* top right bottom left; */
  padding: 15px 0px 15px 15px;
  color: white;
}

.view {
  display: flex;
  min-width: 100%;
  max-width: 100%;
}

.column {
  flex: 1;
  flex-direction: row;
  border-radius: 10px;
  margin: 50px;
  background-color: var(--yellow);
  padding: 20px;
  box-sizing: border-box; /* include padding in width calculation */
}

.view h2 {
  text-align: center;
  font-size: 1.75em;
  margin-bottom: 25px;
}

.field {
  border: none;
  border-radius: 7.5px;
  padding: 10px;
  width: 100%; 
  margin-bottom: 10px;
}

.button {
  background-color: var(--red);
  color: white;
  border: none;
  border-radius: 7.5px;
  padding: 10px;
  cursor: pointer;
  width: 100%; 
}